<div class="container">
  <div class="row">
    <%= render 'users/left', user: @user, book: @book %>
    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr>
          <td>
            <%= attachment_image_tag @user, :profile_image, :fill, 30, 30, fallback: "no_image.jpg"%>
            <%= @user.name %>
          </td>
          <td><%= @book.title %></td>
          <td><%= @book.body %></td>
          <td><%= link_to 'Edit', root_path,class: "btn btn-small btn-success" %></td>
          <td><%= link_to 'Destroy', book_path(@book), method: :delete %></td>
        </tr>
      </table>
    </div>
  </div>
</div>